<h1>Login</h1>

<p id="alert"><%= alert %></p>

<%= form_with(model: @user, url: signin_path, local: true, method: 'POST') do |f|%>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>