<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", signout_path %>
  <% else %>
    <%= link_to "Log In", signin_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
